@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f8f7f7; /* 標準の背景色 (off-white) */
    font-family: 'Noto Sans JP', sans-serif; /* 標準フォント */
    color: #333; /* 標準の文字色 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
